body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
}

.statusbar {
}


.bus-line {
  border-bottom: 1px solid #777;
  background-color: #fff;
  float: left;
  padding: 5px 20px 5px 20px;
  width: 335px;
}

.map {
}

.bus-line:hover {
  background-color: #aaa;
}

.content h1 {
  font-size: 0.9em;
  font-weight: 900;
}

.content h3 {
  font-size: 0.8em;
  margin-top: 5px;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 670px;
  bottom: 35px;
}

.content {
  float: left;
  width: 70%;
}

.frequency {
  float: right;
  /*margin-top: 8px;*/
  text-align: right;
  width: 30%;
}

.frequency h1 {
  font-size: 0.9em;
  font-weight: 900;
  text-align: right;
}

.frequency h3 {
  font-size: 0.8em;
   margin-top: 5px;
   text-align: right;
}


.arrow-left {
  float: left;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
  width: 10%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
}
.gpslocation {
  float: center;
  margin-top: 0px;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  width: 87.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

nav {
  background-color: #663454;
  margin: 0 auto;
  padding: 0px 0 0px 0px;
  position: fixed;
  width: 375px;
  height: 420px;
}

.bus-list {
  padding-top: 420px;
}


/*-------------- Search buttons--------------- */
/* Style the search field */
form.example input[type=text] {
  padding: 5px;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 0.5%;
  border-radius: 10px;
  font-size: 17px;
  float: left;
  width: 70%;
  background: #fff;
}

/* Style the submit button */


form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.button {
    background-color: #4CAF50;
    float: right;
    border-radius: 50%;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 1px 1px;
    position: relative;
    left: -15px;
    top: -40px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #663454;
  width: 375px;
  height: 35px;
}

.footerimages {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-bottom: 20%;
}
